[Desktop Entry]
Name=Wellbeing
Comment=Track screen time and app usage
GenericName=Screen Time Tracker
Exec=wellbeing
Icon=wellbeing
Terminal=false
Type=Application
Categories=Utility;System;Monitor;
Keywords=screen;time;tracker;wellbeing;productivity;focus;
StartupNotify=true
StartupWMClass=Wellbeing
